body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #8a0303;
    color: white;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #8a0303;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a00404;
  }
  
  #searchResults {
    margin-top: 20px;
  }
  